/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;   
}

.button {
  transition: all 0.3s ease-in-out;
}

.button:hover {
  cursor: pointer;
}

.button:active {
  transform: scale(0.95);
}
/* <div class="loading-overlay">
    <div class="spinner"></div>
  </div> */

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 60px;
  height: 60px;
  border: 5px solid #ffffff;
  border-top-color: #3b82f6; /* Blue color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
.spinner2 {
  width: 20px;
  height: 20px;
  border: 5px solid #ffffff;
  border-top-color: #3b82f6; /* Blue color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}